<!-- banner -->
	<div class="banner-agile-2">
		<!-- navigation -->
		
		
		<!-- //navigation -->
	</div>
	<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">About Us</li>
		</ol>
	</nav>
	<!-- breadcrumb -->
	<!-- //banner -->

	<!-- history -->
	<div class="about-page py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">about
				<span class="font-weight-bold">us</span>
			</h3>
			<div class="row about-head-wthree">
				<div class="col-lg-6 left-abw3ls">
					<img src="public/images/he.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-6 right-abw3ls mt-lg-0 mt-sm-5 mt-4">
					<h4 class="border-bottom text-center font-weight-bold pb-3 mb-4">Who are we?</h4>
					<p class="text_black text-justify">A team of professionals with both the knowledge and the desire to train undergraduates realize their potential and make the career choices that they think is far from achieving when they graduate. A team of constantly motivated individuals ranging from people with 10+ years of professional experience in various industries to young graduates who are familiar with the current trends, we have the best minds at work to achieve what we aim at. </p>
					
				</div>
			</div>
		</div>
	</div>
	<!-- //history -->

	<!-- mission -->
	<div class="about-page-2 py-5">
		<div class="container-fluid py-xl-5 py-lg-3">
			<div class="row about-head-wthree-2">
				<div class="container">
				<div class="col-lg-12 right-abw3ls my-lg-0 my-sm-5 my-4">
					<h4 class="border-bottom text-center font-weight-bold pb-3 mb-4">What we do?</h4>
					<p class="text-justify text_black">We do anything and everything that is required to bridge the gap between current undergraduates and their dream job. We train them to become the best version of themselves. Starting from knowledge till personality development, we don’t leave any stones unturned to see them put their best. To achieve this we have collaborated with the best trainers in Bhubaneswar for a myriad of highly Specialized Skill development training programs. For Aptitude, Technical and Personality training,we have invited Industry professionals with more than 30 years of Industry experience in different sectors of their excellence so that we can give a holistic learning experience to our students.Some of these include Manufacturing, Power Distribution and construction.For IT training, we partner with start-ups who operate in different domains of the currently ‘in-demand’ coding or programming skills.</p><br>
<div class="container">
<p class="text-justify text_black"><b><span class="quote"><i class="fa fa-quote-left fa-2x"></i></span>By following an aggregation Business model, we collaborate with and bring together the best of training resources available under the same roof at affordable prices. This helps us bridge the gap between the students who need the most and the teachers who have the best.<span class="quote"><i class="fa fa-quote-right fa-2x"></i></span> </b></p>
</div>

					
				</div>
			</div>
				
			</div>
		</div>
	</div>

	<div class="about-page py-5">
		<div class="container py-xl-5 py-lg-3">
			<div class="row about-head-wthree">
				
					<div class="col-lg-6 left-abw3ls">
						<img src="public/images/n1.jpg" alt="" class="img-fluid">
					</div>
				
				<div class="col-lg-6 right-abw3ls mt-lg-0 mt-sm-5 mt-4">
					<h4 class="border-bottom text-center font-weight-bold pb-3 mb-4">Why This?</h4>
					<p class="text_black text-justify">We have seen a lot many students, majority of them highly talented, go to places which have the least in common with what they know or what they have learnt. As a result, they are demotivated and lose the zeal to give their best, thus wasting their most valuable initial years of corporate life when they ought to be at their best. Even students who want to pursue an MBA afterward opt for the jobs that make them a part of the most populated group in the diversity table. Hence they lose out on a very important aspect of their profile which management (MBA) schools around the world look for: the uniqueness in their experience. Hence we help them choose the right opportunities and train them do what they most want to.</p>
					
				</div>

				
			</div>
		</div>
	</div>
	<!-- //mission -->

	

	
