<div class="banner-fulltime">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>

<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="/careers_fulltime">Careers</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Fulltime</li>
		</ol>
	</nav>
<!--end of breadcrumb -->

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title" id="exampleModalLabel">Responsibilities/Requisites</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="list-group list-group-flush">
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>Training to different Graduates,Under graduates and young professionals from Industry</li>
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>Good communication skills in English and regional language.</li>
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>Material designing for competitive exams (like GATE)</li>
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>Leading Project management team</li>
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>A distinguished member of our Marketing team</li>
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>Ability to adapt to any situation.</li>
		  <li class="list-group-item text-justify"><i class="fa fa-arrow-circle-right quote" aria-hidden="true"></i>May be required to travel within India.</li>	
		  <p class="lead text_black text-justify"><b>IITians and NITians will be given preference.</b></p>
		</ul>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        
      </div>
    </div>
  </div>
</div>
<!-- admission form -->
	<div class="form-w3l py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Job
				<span class="font-weight-bold">Description</span>
			</h3>
			<div class="register-form pt-md-4">
				<form action="#" method="post">
					<div class="styled-input form-group">
						 <label class="col-lg-12 text-left col-form-label"><h4>Designation : Deputy Manager</h4></label>
						
					</div>
					<div class="styled-input form-group">
						 <label class="col-lg-12 text-left col-form-label"><h4>Gross CTC: Rs 4.5 lakhs per annum (fixed component)</h4></label>
						
					</div>
					<div class="styled-input form-group">
						 <label class="col-lg-12 text-left col-form-label"><h4>Qualification: M. TECH (Electrical)</h4></label>
						
					</div>
					<div class="styled-input form-group">
						 <label class="col-lg-12 text-left col-form-label"><h4>Experience: 0 to 2years</h4></label>
						
					</div>
					<div class="styled-input form-group">
						 <label class="col-lg-12 text-left col-form-label"><h4>Segment: Education & Energy Services</h4></label>
						
					</div>
					<div class="styled-input form-group">
						 <label class="col-lg-12 text-left col-form-label"><h4>Location: Bhubaneswar</h4></label>
						
					</div>
						<div class="buttons-w3ls-3">
					<a class="btn button-cour-w3ls text-white" data-toggle="modal" data-target="#exampleModal" role="button">Requisites</a>
					<a class="btn bg-dark text-white" href="https://docs.google.com/forms/d/e/1FAIpQLScGuii71A_RyPF4InAYxPu9QBNtNDzSqpN28dPZWtYSfELURA/viewform" target="_blank" role="button">Apply Now</a>
				</div>
					
				</form>
			</div>
		</div>
	</div>
	<!-- admission form -->
