<div class="banner-cmpt">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>

<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="/technical">Courses</a>
			</li>
			
			<li class="breadcrumb-item active" aria-current="page">CMPT</li>
		</ol>
	</nav>
<!--end of breadcrumb -->
<br>
<div class="container">
    <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
				<span class="font-weight-bold">CMPT</span>

	</h3>
		<div class="row cource-list-agile cource-list-agile-2">
				<div class="col-lg-4 agile-course-main-3 mt-4">
					<img src="public/images/n1.jpg" alt="" class="img-fluid">
				</div>
				<div class="col-lg-8 agile-course-main text-center">
					<div class="w3ls-cource-first">
						
						<div class="px-md-5 px-4  pb-md-5 pb-4">
							<br>
							<h3 class="text-dark">Career Mantra Placement and Training</h3>
							<p class="mt-3 mb-4 pl-lg-4 text-justify text-dark">Career Mantra Placement and Training is an exclusive programme designed specifically for engineering students which acts as a catalyst in the placement preparation of students. It comes in two different packages: Basic CMPT and comprehensive CMPT of 100 and 120 hours respectively. Our modules consist of Quants, Verbal, technical which aim to develop students holistically and make them industry ready.</p>
							
						</div>
					</div>
				</div>
				
		</div>
	<hr>
	<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5 mt-20">
				<span class="font-weight-bold">CMPT Modules</span>

	</h3>
	
	<!--timeline-->
	<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-book"></i>
                </div>
                <h2 class="title">Quants</h2>
                <p class="description text-dark">
                   Speed Mathematics, Ratio, Percentage, Profit and Loss, SI/CI, Distance, Time and Speed, Algebra 1, Algebra-2, P&C, Probability, Sets, Heights and Distance, Mixtures and Allegations, Geometry 1, Geometry-2,Mensuration, Number System
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-comments" aria-hidden="true"></i>
                </div>
                <h2 class="title">Verbal</h2>
                <p class="description text-dark">
                   Analytical Writing Skills, Essay Writing, Article Writing, Paragraph Writing, Synonyms and Antonyms, Idioms and Phrases, Words confused and misused, Basic and Advanced Grammar, Basic and Advanced Vocabulary, Sentence Completion, Reading Comprehension, Para Jumbles, Verbal Logic.
                </p>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-cogs"></i>
                </div>
                <h2 class="title">Reasoning</h2>
                <p class="description text-dark ">
                   Blood Relations, Clocks and Calendars, Syllogisms, Series, Seating Arrangements, Data Sufficiency, Logical Reasoning, Statement reasoning, Coding and Decoding.
                </p>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <h2 class="title">Technical (Mechanical)</h2>
                <p class="text-dark">Dynamics of Machines, Strength of Materials, Mechanical Engineering Industries: Steel Plant, Automobile, Heavy Lifting, etc. , Heat and Mass Transfer, Heating, Ventilation & Air Conditioning, Fluid Mechanics</p>
				  
				</div>
            </div>
        </div>
        
    </div>
    <div class="row">
    	<div class="col-lg-8 col-center mx-auto">
    		<div class="serviceBox">
                <div class="service-icon">
                    <i class="fa fa-wrench"></i>
                </div>
                <h2 class="title">Technical (Electrical)</h2>
                <p class="text-dark">Solar Power, Electric Vehicles, Sources of Energy,Gas Insulated Switch Gear, Understanding of Billing, Metering and Vigilance in Power Distribution Sector, Transformers, Power Sector Scenario in India, Transmission and Distribution, ARR(Annual Revenue Requirement)</p>
				  
				</div>
            </div>
    	</div>	
    </div>	
</div>
	

</div>	