<div class="banner-cmpt">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>

<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="/technical">Courses</a>
			</li>
			
			<li class="breadcrumb-item active" aria-current="page">CMPT</li>
		</ol>
	</nav>
<!--end of breadcrumb -->
<br>
<div class="container">
    <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
				<span class="font-weight-bold">CMPT</span>

	</h3>
	<div class="container justify-content-md-center"><p class="text-justify text_black"><i class="fa fa-quote-left fa-2x founder_text"></i><b>Career Mantra and PLacement and Training Programme</b> is an exclusive programme designed specifically for engineering students which acts as a catalyst in the placement preparation of students. It comes in two different packages: Basic CMPT and comprehensive CMPT of 100 and 120 hours respectively. Our modules consist of Quants, Verbal, technical which aim to develop students holistically and make them industry ready.</p></div>
	<br><br>
	<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5 mt-20">
				<span class="font-weight-bold">CMPT Modules</span>

	</h3>
	<div class = "row">
		<div class="card bg-card-light mb-3 col-lg-6">
		 
		  <div class="card-body">
		  	<div class="text-center">
		  		<img src = "public/images/quants.png">
		  	</div>	<br>
		    <h3 class="card-title text-center"><b>Quants</b></h3>
		    <p class="card-text text_black text-justify">Speed Mathematics, Ratio, Percentage, Profit and Loss, SI/CI, Distance, Time and Speed, Algebra 1, Algebra-2, P&C, Probability, Sets, Heights and Distance, Mixtures and Allegations, Geometry 1, Geometry-2,Mensuration, Number System</p>
		  </div>
		</div>
		<div class="card bg-card-light mb-3 col-lg-6">
		 
		  <div class="card-body ">
		  	<div class="text-center">
		  		<img src = "public/images/verbal.png">
		  	</div>	<br>
		    <h3 class="card-title text-center"><b>Verbal</b></h3>
		    <p class="card-text text_black text-justify">Analytical Writing Skills, Essay Writing, Article Writing, Paragraph Writing, Synonyms and Antonyms, Idioms and Phrases, Words confused and misused, Basic and Advanced Grammar, Basic and Advanced Vocabulary, Sentence Completion, Reading Comprehension, Para Jumbles, Verbal Logic.</p>
		  </div>
		</div>
	</div>	

	<div class = "row">
		<div class="card bg-card-light mb-3 col-lg-6">
		 
		  <div class="card-body">
		  	<div class="text-center">
		  		<img src = "public/images/clock.png">
		  	</div>	<br>
		    <h3 class="card-title text-center"><b>Reasoning</b></h3>
		    <p class="card-text text_black text-justify">Blood Relations, Clocks and Calendars, Syllogisms, Series, Seating Arrangements, Data Sufficiency, Logical Reasoning, Statement reasoning, Coding and Decoding.</p>
		  </div>
		</div>
		<div class="card bg-card-light mb-3 col-lg-6">
		 
		  <div class="card-body ">
		  	<div class="text-center">
		  		<img src = "public/images/tools.png">
		  	</div>	<br>
		    <h3 class="card-title text-center"><b>Technical</b></h3>
		    <ul class="nav nav-tabs" id="myTab" role="tablist">
			  <li class="nav-item">
			    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Mechanical</a>
			  </li>
			  <li class="nav-item">
			    <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="false">Electrical</a>
			  </li>
			  
			</ul>
			<div class="tab-content" id="myTabContent">
			  <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab"><p class="card-text text_black text-justify">Dynamics of Machines,Strength of Materials, Mechanical Engineering Industries: Steel Plant, Automobile, Heavy Lifting, etc. , Heat and Mass Transfer, Heating, Ventilation & Air Conditioning, Fluid Mechanics</p></div>
			  <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab"><p class="card-text text_black text-justify">Solar Power, Electric Vehicles, Sources of Energy,Gas Insulated Switch Gear, Understanding of Billing, Metering and Vigilance in Power Distribution Sector, Transformers, Power Sector Scenario in India, Transmission and Distribution, ARR(Annual Revenue Requirement)</p></div>
			  
			</div>
		    
		  </div>
		</div>
	</div>	
</div>	