<div class="banner-faculties">
        <!-- navigation -->
        
        
        <!-- //navigation -->
</div>
<!-- breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Faculties</li>
        </ol>
    </nav>
<!--end of breadcrumb-->  
<br>  
<div class="container">
    <div class="row">
        <div class="col-lg-10 col-center m-auto">
            <h1 class="text-center"><b>Our Faculties</b></h1>
            <div id="myCarousel" class="carousel slide" data-ride="carousel">
                <!-- Carousel indicators -->
                <ol class="carousel-indicators">
                    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                    <li data-target="#myCarousel" data-slide-to="1"></li>
                    <li data-target="#myCarousel" data-slide-to="2"></li>
                    <li data-target="#myCarousel" data-slide-to="3"></li>
                    <li data-target="#myCarousel" data-slide-to="4"></li>
                    <li data-target="#myCarousel" data-slide-to="5"></li>
                    <li data-target="#myCarousel" data-slide-to="6"></li>
                   
                </ol>   
                <!-- Wrapper for carousel items -->
                <div class="carousel-inner">
                    <div class="item carousel-item active">
                        <div class="img-box"><img src="public/images/faculty/kruti_final.jpg" alt=""></div>
                        <p class="overview"><b>Krutibash Panda</b>, Founder</p>
                        <p class="testimonial text-justify text_black">An NIT Rourkela and XIMB Alumnus, he worked in the core sector for well over a decade making a name for himself as the most valuable asset in the companies he worked with. Having recruited and trained many engineers and MTs over the years, he understands the gap between a young graduate's knowledge and the industry requirements. He set out to bridge that gap with Career Mantra. </p>
                        
                    </div>
                    <div class="item carousel-item">
                        <div class="img-box"><img src="public/images/faculty/Prakash_final.jpg" alt=""></div>
                        <p class="overview"><b>Prakash Chandra Panda</b></p>
                        <p class="testimonial text-justify text_black">An UCE, Burla Electrical Engineer, he has more than 45 years of experience in the power sector, government and private included. He is a go to person for both education and career related queries. He brings all his experience into play while training and guiding students towards the right career path. </p>
                        
                    </div>
                    <div class="item carousel-item">
                        <div class="img-box"><img src="public/images/faculty/namoona_final.jpg" alt=""></div>
                        <p class="overview"><b>Namoona Nayak</b></p>
                        <p class="testimonial text-justify text_black">An IIIT alumnus, IIM-Indoor Admit, Namoona is an all-rounder and excels in what she does. She won the first 'Future is Here' B-Plan competition and will be leading the internationalisation of the same event in 2018. She oversees Career Mantra’s IT program development and trains the students in all the domains of IT. </p>
                        
                    </div>
                    <div class="item carousel-item">
                        <div class="img-box"><img src="public/images/faculty/debi_final.jpg" alt=""></div>
                        <p class="overview"><b>Debi Prasad Rath</b></p>
                        <p class="testimonial text-justify text_black">With more than 25 years of experience in Energy, CEE and HRD industry, he has trained more than a thousand professionals in soft skills, communication and social skills. With a PhD. In Zoology, he understands the value of education and does his best in sharing what he has learnt with his trainees.</p>
                        
                    </div>
                    <div class="item carousel-item">
                        <div class="img-box"><img src="public/images/faculty/arpit_final.jpg" alt=""></div>
                        <p class="overview"><b>Arpit Bhal</b></p>
                        <p class="testimonial text-justify text_black">Arpit is an engineer by mind and a sportsman by heart. He is great with numbers and aptitude. No wonder he was selected as ISB-Hyderabad's (Global Rank#28) campus ambassador for 2017-18. That he is a finalist for the Young Leaders Program of ISB speaks volumes about his leadership skills; skills that he imparts to students so they succeed in any sphere of life and career.</p>
                        
                    </div>
                    <div class="item carousel-item">
                       
                        <div class="img-box"><img src="public/images/faculty/Eka.jpg" alt=""></div>
                         <p class="overview"><b>Ekankita Agrawalla</b></p>
                        <p class="testimonial text-justify text_black">Ekankita is a basket of talents. She was among the State and University toppers during her 10+2 and graduation, is an MBA, and a professional Odissi dancer. This brilliant mix of cognitive and creative abilities makes her a role model and guide for young students looking for career guidance. She trains students in soft skills and personality development too.</p>
                        
                    </div>
                    <div class="item carousel-item">
                        <div class="img-box"><img src="public/images/faculty/soumya_final.jpg" alt=""></div>
                        <p class="overview"><b>Soumyashree Parthasarathi Rout</b></p>
                        <p class="testimonial text-justify text_black">An UCE Burla and XIMB Alumnus, he pursues any work given to him with utmost sincerity. With more than 15 years of industry experience, he understands the Industry well and uses his experience to make Industry professionals aware of certain career pitfalls. A humble and down to earth man, he doesn’t leave the hands of his trainees when it comes to quality education.</p>
                        
                    </div>

                </div>
                <!-- Carousel controls -->
                <a class="carousel-control left carousel-control-prev" href="#myCarousel" data-slide="prev">
                    <i class="fa fa-angle-left"></i>
                </a>
                <a class="carousel-control right carousel-control-next" href="#myCarousel" data-slide="next">
                    <i class="fa fa-angle-right"></i>
                </a>
            </div>
        </div>
    </div>
</div>
</div>  