<div class="banner-founder">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>
<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item active" aria-current="page">Founder</li>
		</ol>
	</nav>

	<div class="about-page py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Founder
			</h3>
			<div class="row justify-content-md-center">
				
					<img src = "public/images/founder.jpg" class="founder"> 
					
			</div>

			<br>
			<div class = "container text-center">
				
				<h3>Krutibash Panda</h3>
				<p>
					<a href = "https://www.facebook.com/krutibashnit" class="fb_icon"><i class="fab fa-facebook fa-3x m-2"></i></a>
					<a href = "https://www.linkedin.com/in/krutibash-panda-61515a20/" class="ln_icon"><i class="fab fa-linkedin fa-3x m-2"></i></a>
				</p>
				<div class="container justify-content-md-center"><p class="text-justify text_black"><i class="fa fa-quote-left fa-2x founder_text"></i>An NIT Rourkela and XIMB Alumnus, he worked in the core sector for well over a decade making a name for himself as the most valuable asset in the companies he worked with. Having recruited and trained many engineers and MTs over the years, he understands the gap between a young graduate's knowledge and the industry requirements. He set out to bridge that gap with Career Mantra. With industry specific high-end training and coaching modules, Mr Panda aims to positively impact the current under-employment and unemployment scenario for young graduate's in India.</p></div>

			</div>
		</div>
	</div>
	<!-- breadcrumb -->
	<!-- //banner -->