<div class="banner-gallery">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>

<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			
			
			<li class="breadcrumb-item active" aria-current="page">Gallery</li>
		</ol>
	</nav>
<!--end of breadcrumb -->


<!-- gallery -->
	<section class="gallery py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">our
				<span class="font-weight-bold">gallery</span>
			</h3>
			<div class="inner-sec pt-md-4">
				<div class="row proj_gallery_grid">
					<div class="col-sm-4 section_1_gallery_grid">
						<a href="public/images/1g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/1g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
					<div class="col-sm-4 section_1_gallery_grid my-sm-0 my-4">
						<a href="public/images/2g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/2g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
					<div class="col-sm-4 section_1_gallery_grid">
						<a href="public/images/3g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/3g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
				</div>
				<div class="row proj_gallery_grid mt-4">
					<div class="col-sm-4 section_1_gallery_grid">
						<a href="public/images/4g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/4g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
					<div class="col-sm-4 section_1_gallery_grid  my-sm-0 my-4">
						<a href="public/images/5g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/5g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
					<div class="col-sm-4 section_1_gallery_grid">
						<a href="public/images/6g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/6g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
				</div>
				<div class="row proj_gallery_grid mt-4">
					<div class="col-sm-4 section_1_gallery_grid">
						<a href="public/images/7g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/7g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
					<div class="col-sm-4 section_1_gallery_grid  my-sm-0 my-4">
						<a href="public/images/8g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/8g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
					<div class="col-sm-4 section_1_gallery_grid">
						<a href="public/images/9g.jpg">
							<div class="section_1_gallery_grid1">
								<img src="public/images/9g.jpg" alt=" " class="img-fluid" />
								
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--//gallery-->