<div class="banner-agile">
	
		<ul class="slider">
			<li class="active">
				<div class="banner-w3ls-1">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-2">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-3">
				</div>
			</li>
			<li>
				<div class="banner-w3ls-4">
				</div>
			</li>
			<li class="prev">
				<div class="banner-w3ls-5">
				</div>
			</li>
		</ul>
		<ul class="pager">
			<li data-index="0" class="active"></li>
			<li data-index="1"></li>
			<li data-index="2"></li>
			<li data-index="3"></li>
			<li data-index="4"></li>
		</ul>
		<div class="banner-text-posi-w3ls">
			<div class="banner-text-whtree">
				<h3 class="text-capitalize text-white p-4">The Education you want
					<b>The Attention you Deserve!</b>
				</h3>
				<p class="px-4 py-3 text-dark">Change your mind. Change your life!</p>
				
			</div>
		</div>

</div>

<!-- about -->
	<div class="about py-5">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">About
				<span class="font-weight-bold">Career Mantra</span>
			</h3>
			<div class="row pt-md-4">
				<div class="col-lg-6 about_right">
					<h5 class="text-right index_quote"><i class="fa fa-quote-left quote fa-2x"></i>We do anything and everything that is required to bridge the gap between current undergraduates and their dream job!</h5><br>
					<h3 class="text-capitalize text-right font-weight-light font-bold">Who are we?
						<!--<span class="font-weight-bold">Edulearn</span>-->
					</h3>
					<p class="text-right my-4 pr-4 mt-0 border-right text_black">A team of professionals with both the knowledge and the desire to train undergraduates realize their potential and make the career choices that they think is far from achieving when they graduate. A team of constantly motivated individuals..<a href="/about">Read More</a><br>
					<b>An Initiative of NIT Rourkela and XIMB Alumni.</b></p>
					
				</div>
				<div class="col-lg-6 left-img-agikes mt-lg-0 mt-sm-4 mt-3 text-right">
					<img src="public/images/ab_1.jpg" alt="" class="img-fluid" />

					
				</div>
			</div>
		</div>
	</div>
	<!-- //about -->
	<!-- what we do -->
	<div class="why-choose-agile py-0">
		<div class="container py-xl-5 py-lg-3">
			<h3 class="title text-capitalize font-weight-light text-black text-center mb-5">Our
				<span class="font-weight-bold">Courses</span>
			</h3>
			<div class="row agileits-w3layouts-grid pt-md-4">
				<div class="col-lg-4 services-agile-1">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fab fa-accusoft"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize text-black font-weight-bold mb-3">CMPT</h4>
							<p class="text_black">CMPT is an exclusive programme designed specifically for engineering students...</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1 my-lg-0 my-5">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fas fa-book"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize text-black font-weight-bold mb-3">SPEED</h4>
							<p class="text_black">This programme is designed exclusively for improving and strengthening one’s Soft skills, Interpersonal skills,...</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fas fa-users"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize text-black font-weight-bold mb-3">BANKING</h4>
							<p class="text_black">A complete training module to assist students in getting...</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
			</div>
			<div class="row justify-content-md-center agileits-w3layouts-grid mt-5">
				<div class="col-lg-4 services-agile-1">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fa fa-database"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize text-black font-weight-bold mb-3">BPO TRAINING</h4>
							<p class="text_black">A complete training module to develop English communication...</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fa fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<div class="col-lg-4 services-agile-1  my-lg-0 my-5">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="fa fa-desktop"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize text-black font-weight-bold mb-3">IT</h4>
							<p class="text_black">Latest IT skills required by candidates to excel in their dream companies...</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>
				<!--<div class="col-lg-4 services-agile-1">
					<div class="row wthree_agile_us">
						<div class="col-lg-3 col-md-2 col-3  agile-why-text">
							<div class="wthree_features_grid text-center p-3 border rounded">
								<i class="far fa-clock"></i>
							</div>
						</div>
						<div class="col-9 agile-why-text-2">
							<h4 class="text-capitalize text-black font-weight-bold mb-3">24/7 supports</h4>
							<p>Lorem ipsum magna, vehicula ut scelerisque ornare porta ete celerisque ornare.</p>
							<a class="btn mt-3 service-button p-0" href="about.html" role="button">Read More
								<i class="fas fa-long-arrow-alt-right ml-1"></i>
							</a>
						</div>
					</div>
				</div>-->
			</div>
		</div>
	</div>
	<!-- //what we do -->
	<!-- what we do -->
	
