<div class="banner-irp">
		<!-- navigation -->
		
		
		<!-- //navigation -->
</div>

<!-- breadcrumb -->
	<nav aria-label="breadcrumb">
		<ol class="breadcrumb">
			<li class="breadcrumb-item">
				<a href="/">Home</a>
			</li>
			<li class="breadcrumb-item">
				<a href="/technical">Courses</a>
			</li>
			
			<li class="breadcrumb-item active" aria-current="page">Industry Ready Programme</li>
		</ol>
	</nav>
<!--end of breadcrumb -->
<br>
<div class="container">
    <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">
				<span class="font-weight-bold">Industry Ready Programme</span>
			</h3>
	<div class="row">		
	

	</div>

	<!--Test-->
	<div class="row cource-list-agile pt-md-10">
				<div class="col-lg-12 agile-course-main">
					<div class="w3ls-cource-first" style="padding-top: 20px; padding-bottom: 20px;">
						
						<div class = "row">
							<div class="col-lg-6 pb-3 text-center">
								<img src="public/images/bulb.png" class="float-left">
								
									<h4>Career Mantra Placement Training(CMPT)</h4>
									<!--<p class="text_black"> Quants, Verbal, Reasoning and Technical and GD/PI</p>-->
								
							</div>
							<br>
							
							<div class="col-lg-6 pb-3 text-center">
								<img src="public/images/bulb.png" class="float-left">
								
								<h4>Career Mantra’s Soft Skills, Personality and English Eloquence Development(SPEED)</h4>
							
							</div>	
						</div>
					</div>
				</div>
				
				
	</div>
	<br>
	<hr>
	<h3 class="title text-capitalize font-weight-light text-dark text-center mb-5"><span class="font-weight-bold">Course Overview</span></h3>

	<div class="nav nav-tabs nav-fill" id="nav-tab" role="tablist">
						<a class="nav-item nav-link active text_black" id="nav-home-tab" data-toggle="tab" href="#nav-home" role="tab" aria-controls="nav-home" aria-selected="true">What is CMPT?</a>
						<a class="nav-item nav-link text_black" id="nav-profile-tab" data-toggle="tab" href="#nav-profile" role="tab" aria-controls="nav-profile" aria-selected="false">Why CMPT?</a>
						<a class="nav-item nav-link text_black" id="nav-contact-tab" data-toggle="tab" href="#nav-contact" role="tab" aria-controls="nav-contact" aria-selected="false">What is SPEED?</a>
						<a class="nav-item nav-link text_black" id="nav-about-tab" data-toggle="tab" href="#nav-about" role="tab" aria-controls="nav-about" aria-selected="false">Why SPEED?</a>
						<a class="nav-item nav-link text_black" id="nav-what-tab" data-toggle="tab" href="#nav-what" role="tab" aria-controls="nav-what" aria-selected="false">What does SPEED cover?</a>
					</div>
				</nav>
				<div class="tab-content py-3 px-3 px-sm-0" id="nav-tabContent">
					<div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
						<p class="text_black text-justify"><i class="fa fa-quote-left fa-2x quote"></i>CMPT is an exclusive programme designed specifically for engineering students which acts as a catalyst in the placement preparation of students. It comes in two different packages: Basic CMPT and comprehensive CMPT of 80 and 120 hours respectively. Our modules consist of Quants, Verbal, technical and SPEED which aim to develop students holistically and make them industry ready.</p>	
					</div>
					<div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
						
						<p class="text_black text-justify"><i class="fa fa-quote-left fa-2x quote"></i>With growing concerns regarding placements among students and increasing gap between industry requirements and knowledge of students, the placement scenario is worsening day by day in the country. As a result, students end up doing jobs they are least interested in. With no job satisfaction, they are easily demotivated and switch jobs too frequently. The CMPT programme serves as a simple and efficient solution to this ever growing problem by providing students the skills that are required for them to go where they want to. Thus, with the top of the line training by graduates of cream colleges, we have an edge over others in understanding the strengths of students and providing them a more personalized experience</p>
						
					</div>
					<div class="tab-pane fade" id="nav-contact" role="tabpanel" aria-labelledby="nav-contact-tab">
						<p class="text_black text-justify"><i class="fa fa-quote-left fa-2x quote"></i>This programme is designed exclusively for improving and strengthening one’s Soft skills, Interpersonal skills, Communication skills and approach towards Problem solving, rational decision making, critical thinking and judgement required in today’s corporate world. Most of the Professional and Post-graduate courses entrance exams test students on Verbal, Reasoning and Writing skills. Since the most common medium of communication in today’s business world is mostly English, it is indispensable that one has a strong foundation in this. SPEED modules were thus created to enable students to strengthen their Communication and Writing skills which form an integral part of placement process of Core, BPO, and IT Companies. Our training modules involve dynamic classroom sessions where active participation stands as the order of the day. The more a student gets involved in interaction and exchange of ideas, the more he or she learns.</p>
					</div>
					<div class="tab-pane fade" id="nav-about" role="tabpanel" aria-labelledby="nav-about-tab">
						<p class="text_black text-justify"><i class="fa fa-quote-left fa-2x quote"></i>The development of an individual starts from understanding the base and touching on the roots. If the basics are poor, then it likely that the individual will succumb only to ephemeral development and not perpetual development. So, we, at Career Mantra, focus on identifying and understanding the strengths of an individual's personality and mould those traits to make the individuals a better version of themselves. This enhancement of strengths certainly helps to eradicate the weaknesses and fears an individual has developed over time. In a short span of time that we spend with the student, we cannot develop or create what may not exist. Hence we focus our efforts on boosting the skills that we believe is the best in the individual. Thus, we name it as “SPEED”.</p>
					</div>
					<div class="tab-pane fade" id="nav-what" role="tabpanel" aria-labelledby="nav-what-tab">
						<p class="text_black text-justify"><i class="fa fa-quote-left fa-2x quote"></i>Writing Skills, Basic Vocabulary, Basic Grammar , Approach to learning, Listening vs. Hearing , Observing vs. Seeing, Communication Skills, Interpersonal Skills, Goal Setting and CV making, Team Work and Self Reliance, Group Discussion, Time Management, Leadership Skills, Professional Effectiveness, Facing Interviews and Public Speaking.</p>
					</div>
				</div>
				<br>
				<div class="jumbotron text-center">
				  <h4 class="display-4">The most advanced Placement Training Modules</h4><br>
				  <p class="text_black text-justify">We understand students are familiar with the school level mathematics and English but when they come of age, they are no more in touch with the subjects. So, we assist the students in brushing up the skills along with covering certain portions which they are unaware of. Thus, if the base is strong, students can ace in all the examinations of life.</p>
				  <hr class="my-4">
				  <p class="lead text_black"><b>The CMPT programme comes with 10 free practice tests to give a bird’s eye view of how the placements tests look like.</b></p>
				  
				</div>

</div>            