<div class="banner-partner">
        <!-- navigation -->
        
        
        <!-- //navigation -->
</div>
<!-- breadcrumb -->
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item">
                <a href="/">Home</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">Partners</li>
        </ol>
    </nav>
<!--end of breadcrumb-->  
<br>  
<div class="container">
    <h3 class="title text-capitalize font-weight-light text-dark text-center mb-5">Our <span class="font-weight-bold">Learning Partners</span>
            </h3>
    <div class="row">
        <div class="col-md-12">
            <div class="main-timeline">
                <a href="https://jageducate.com/" target="_blank" class="timeline">
                    <div class="timeline-icon"><i class="far fa-handshake"></i></div>
                    <div class="timeline-content">
                        <h2 class="title">JAG Educate</h2>
                        <p class="text_black text-justify">
                            JAG Educate is an Odisha based start-up founded by alumni from NIT Rourkela and XIMB with experience in Fortune 500 companies. They have become the leading GMAT and GRE training providers in Odisha within just one year of its existence.

Their deeper understanding of global management needs has enabled them to design programs that help students and business professionals catapult their careers into the top management schools of the world.

<b>To know more about them you can visit their website-
www.jageducate.com</b>
                        </p>
                    </div>
                </a>
                <a href ="http://www.appstone.in" target="_blank" class="timeline">
                    <div class="timeline-icon"><i class="far fa-handshake"></i></div>
                    <div class="timeline-content">
                        <h2 class="title">Appstone</h2>
                        <p class="text_black text-justify">
                            Appstone has seen a rapid growth in the field of web and mobile technology ever since. They are also actively involved in web and mobile application development with clients across various fields.

It is only recently that they have dived into the world of mobile gaming to create engaging and entertaining games for millions of users.
 <b>To check out what they are up to, visit their website at
www.appstone.in</b>
                        </p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
<br>